<% content_for :title do %>Autorickshaw Productions: Filmography<% end %>
<% content_for :description do %>Website of Autorickshaw Productions. Complete list of films<% end %>


<%#= link_to image_tag("#{film.id}_0.png"), film %>

    <!-- Portfolio --> 
    

    <div id="portfolio" class="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4 text-center">
                    <h1>Our Work</h1>
                    <hr>
                </div>
            </div>
            <% if @documentaries.count != 0  %>
            <div id="documentaries" class="col-md-4 col-md-offset-4 text-center sub"> <h1 >Documentaries</h1></div>
            
            <% rowcount=0%>
              <% while rowcount <= (@documentaries.count-1)/2 do %>
              <div class="row">
                <div class="col-md-4 col-md-offset-2 text-center">
                    <div class="portfolio-item">
                        <a href= /films/<%= (@filmlist.find_by url: (@documentaries[2*rowcount])).id%>>
                            <div class="blur"><img class="img-portfolio img-responsive" src=<%= (@vimeofilms.find {|f| f["id"] == (@documentaries[2*rowcount]).to_i})["thumbnail_large"] %>></div>
                        </a>
                        <h4><%= (@vimeofilms.find {|f| f["id"] == (@documentaries[2*rowcount]).to_i})["title"] %></h4>
                    </div>
                </div>
                
                  
                <% if (rowcount < ((@documentaries.count+1)/2)-1) or (@documentaries.count % 2 ==0)%>
                <div class="col-md-4 text-center">
                    <div class="portfolio-item">
                      
                        <a href= /films/<%= (@filmlist.find_by url: (@documentaries[(2*rowcount)+1])).id%>>
                          
                         
                            <img class="img-portfolio img-responsive" src=<%= (@vimeofilms.find {|f| f["id"] == (@documentaries[(2*rowcount)+1]).to_i})["thumbnail_large"] %>>
                        </a>
                        
                        <h4><%=  (@vimeofilms.find {|f| f["id"] == (@documentaries[(2*rowcount)+1]).to_i})["title"] %></h4>
                        
                    </div>
                </div>
                <%end%>
            </div>
            <% rowcount=rowcount+1%>
            <%end%>
          </div>
          <% end %>

            <% if @shortfilm.count != 0  %>
      <div id="shortfiction" class="col-md-4 col-md-offset-4 text-center sub"> <h1>Short Fiction</h1></div>
            
            <% rowcount=0%>
              <% while rowcount <= (@shortfilm.count-1)/2 do %>
              <div class="row">
                <div class="col-md-4 col-md-offset-2 text-center">
                    <div class="portfolio-item">
                        <a href= /films/<%= (@filmlist.find_by url: (@shortfilm[2*rowcount])).id%>>
                            <div class="blur"><img class="img-portfolio img-responsive" src=<%= (@vimeofilms.find {|f| f["id"] == (@shortfilm[2*rowcount]).to_i})["thumbnail_large"] %>></div>
                        </a>
                        <h4><%= (@vimeofilms.find {|f| f["id"] == (@shortfilm[2*rowcount]).to_i})["title"] %></h4>
                    </div>
                </div>
                
                  
                <% if (rowcount < ((@shortfilm.count+1)/2)-1) or (@shortfilm.count % 2 ==0)%>
                <div class="col-md-4 text-center">
                    <div class="portfolio-item">
                      
                        <a href= /films/<%= (@filmlist.find_by url: (@shortfilm[(2*rowcount)+1])).id%>>
                          
                         
                            <img class="img-portfolio img-responsive" src=<%= (@vimeofilms.find {|f| f["id"] == (@shortfilm[(2*rowcount)+1]).to_i})["thumbnail_large"] %>>
                        </a>
                        
                        <h4><%=  (@vimeofilms.find {|f| f["id"] == (@shortfilm[(2*rowcount)+1]).to_i})["title"] %></h4>
                        
                    </div>
                </div>
                <%end%>
            </div>
            <% rowcount=rowcount+1%>
            <%end%>
          
          <% end %>

           <% if @musicvideos.count != 0  %>
      <div id="musicvideos" class="col-md-4 col-md-offset-4 text-center sub"> <h1>Music Videos</h1></div>
            
            <% rowcount=0%>
              <% while rowcount <= (@musicvideos.count-1)/2 do %>
              <div class="row">
                <div class="col-md-4 col-md-offset-2 text-center">
                    <div class="portfolio-item">
                        <a href= /films/<%= (@filmlist.find_by url: (@musicvideos[2*rowcount])).id%>>
                            <div class="blur"><img class="img-portfolio img-responsive" src=<%= (@vimeofilms.find {|f| f["id"] == (@musicvideos[2*rowcount]).to_i})["thumbnail_large"] %>></div>
                        </a>
                        <h4><%= (@vimeofilms.find {|f| f["id"] == (@musicvideos[2*rowcount]).to_i})["title"] %></h4>
                    </div>
                </div>
                
                  
                <% if (rowcount < ((@musicvideos.count+1)/2)-1) or (@musicvideos.count % 2 ==0)%>
                <div class="col-md-4 text-center">
                    <div class="portfolio-item">
                      
                        <a href= /films/<%= (@filmlist.find_by url: (@musicvideos[(2*rowcount)+1])).id%>>
                          
                         
                            <img class="img-portfolio img-responsive" src=<%= (@vimeofilms.find {|f| f["id"] == (@musicvideos[(2*rowcount)+1]).to_i})["thumbnail_large"] %>>
                        </a>
                        
                        <h4><%=  (@vimeofilms.find {|f| f["id"] == (@musicvideos[(2*rowcount)+1]).to_i})["title"] %></h4>
                        
                    </div>
                </div>
                <%end%>
            </div>
            <% rowcount=rowcount+1%>
            <%end%>
          </div>
          <% end %>
<% if ((@adfilms.count != 0) or (@behindthescenes.count != 0)  or (@weddings.count != 0))%>
         <div id="corporate" class="col-md-4 col-md-offset-4 text-center sub"> <h1>Corporate Videos</h1></div>   
<% if @adfilms.count != 0  %>
      <div class="col-md-4 col-md-offset-4 text-center sub2"> <h1><em>Ad Films</em></h1></div>
            
            <% rowcount=0%>
              <% while rowcount <= (@adfilms.count-1)/2 do %>
              <div class="row">
                <div class="col-md-4 col-md-offset-2 text-center">
                    <div class="portfolio-item">
                        <a href= /films/<%= (@filmlist.find_by url: (@adfilms[2*rowcount])).id%>>
                            <div class="blur"><img class="img-portfolio img-responsive" src=<%= (@vimeofilms.find {|f| f["id"] == (@adfilms[2*rowcount]).to_i})["thumbnail_large"] %>></div>
                        </a>
                        <h4><%= (@vimeofilms.find {|f| f["id"] == (@adfilms[2*rowcount]).to_i})["title"] %></h4>
                    </div>
                </div>
                
              
                <% if (rowcount < ((@adfilms.count+1)/2)-1) or (@adfilms.count % 2 ==0)%>
                <div class="col-md-4 text-center">
                    <div class="portfolio-item">
                      
                        <a href= /films/<%= (@filmlist.find_by url: (@adfilms[(2*rowcount)+1])).id%>>
                          
                         
                            <img class="img-portfolio img-responsive" src=<%= (@vimeofilms.find {|f| f["id"] == (@adfilms[(2*rowcount)+1]).to_i})["thumbnail_large"] %>>
                        </a>
                        
                        <h4><%=  (@vimeofilms.find {|f| f["id"] == (@adfilms[(2*rowcount)+1]).to_i})["title"] %></h4>
                        
                    </div>
                </div>
                <%end%>
            </div>
            <% rowcount=rowcount+1%>
            <%end%>
          </div>
          <% end %>

          

          <% if @behindthescenes.count != 0  %>
      <div class="col-md-4 col-md-offset-4 text-center sub2"> <h1>Behind The Scenes</h1></div>
            
            <% rowcount=0%>
              <% while rowcount <= (@behindthescenes.count-1)/2 do %>
              <div class="row">
                <div class="col-md-4 col-md-offset-2 text-center">
                    <div class="portfolio-item">
                        <a href= /films/<%= (@filmlist.find_by url: (@behindthescenes[2*rowcount])).id%>>
                            <div class="blur"><img class="img-portfolio img-responsive" src=<%= (@vimeofilms.find {|f| f["id"] == (@behindthescenes[2*rowcount]).to_i})["thumbnail_large"] %>></div>
                        </a>
                        <h4><%= (@vimeofilms.find {|f| f["id"] == (@behindthescenes[2*rowcount]).to_i})["title"] %></h4>
                    </div>
                </div>
                
                  
                <% if (rowcount < ((@behindthescenes.count+1)/2)-1) or (@behindthescenes.count % 2 ==0)%>
                <div class="col-md-4 text-center">
                    <div class="portfolio-item">
                      
                        <a href= /films/<%= (@filmlist.find_by url: (@behindthescenes[(2*rowcount)+1])).id%>>
                          
                         
                            <img class="img-portfolio img-responsive" src=<%= (@vimeofilms.find {|f| f["id"] == (@behindthescenes[(2*rowcount)+1]).to_i})["thumbnail_large"] %>>
                        </a>
                        
                        <h4><%=  (@vimeofilms.find {|f| f["id"] == (@behindthescenes[(2*rowcount)+1]).to_i})["title"] %></h4>
                        
                    </div>
                </div>
                <%end%>
            </div>
            <% rowcount=rowcount+1%>
            <%end%>
          </div>
          <% end %>

          <% if @weddings.count != 0  %>
      <div class="col-md-4 col-md-offset-4 text-center sub2"> <h1>Weddings</h1></div>
            
            <% rowcount=0%>
              <% while rowcount <= (@weddings.count-1)/2 do %>
              <div class="row">
                <div class="col-md-4 col-md-offset-2 text-center">
                    <div class="portfolio-item">
                        <a href= /films/<%= (@filmlist.find_by url: (@weddings[2*rowcount])).id%>>
                            <div class="blur"><img class="img-portfolio img-responsive" src=<%= (@vimeofilms.find {|f| f["id"] == (@weddings[2*rowcount]).to_i})["thumbnail_large"] %>></div>
                        </a>
                        <h4><%= (@vimeofilms.find {|f| f["id"] == (@weddings[2*rowcount]).to_i})["title"] %></h4>
                    </div>
                </div>
                
                  
                <% if (rowcount < ((@weddings.count+1)/2)-1) or (@weddings.count % 2 ==0)%>
                <div class="col-md-4 text-center">
                    <div class="portfolio-item">
                      
                        <a href= /films/<%= (@filmlist.find_by url: (@weddings[(2*rowcount)+1])).id%>>
                          
                         
                            <img class="img-portfolio img-responsive" src=<%= (@vimeofilms.find {|f| f["id"] == (@weddings[(2*rowcount)+1]).to_i})["thumbnail_large"] %>>
                        </a>
                        
                        <h4><%=  (@vimeofilms.find {|f| f["id"] == (@weddings[(2*rowcount)+1]).to_i})["title"] %></h4>
                        
                    </div>
                </div>
                <%end%>
            </div>
            <% rowcount=rowcount+1%>
            <%end%>
          </div>
          <% end %>
          
          <%end%>
</div>


         





           