<% content_for :title do %>Autorickshaw Productions: Filmography<% end %>
<% content_for :description do %>Website of Autorickshaw Productions. Complete list of films<% end %>


<%#= link_to image_tag("#{film.id}_0.png"), film %>

    <!-- Portfolio --> 
    
<!--Outer Cache-->
<% cache ['Filmography', Film.latest] do %>
    <div id="portfolio" class="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4 text-center">
                    <h1>Our Work</h1>
                    <hr>
                </div>
            </div>
            <% if Film.documentaries.count != 0  %>
            <div id="documentaries" class="col-md-4 col-md-offset-4 text-center sub"> <h1 >Documentaries</h1></div>
            
            <% rowcount=0%>
              <% while rowcount <= (Film.documentaries.count-1)/2 do %>
              <div class="row">
                <div class="col-md-4 col-md-offset-2 text-center">
                    <div class="portfolio-item">
                        <a href= /films/<%= (Film.find_by url: (Film.documentaries[2*rowcount])).id%>>
                            <div class="blur"><img class="img-portfolio img-responsive" src=<%= (Film.vimeofilms.find {|f| f["id"] == (Film.documentaries[2*rowcount]).to_i})["thumbnail_large"] %>></div>  </a>  <% Rails.logger.debug "LEVEL 1 is #{rowcount}"%><% Rails.logger.debug "LEVELs 1 is #{(Film.documentaries.count-1)/2}"%>


                        
                        <h4><%= (Film.vimeofilms.find {|f| f["id"] == (Film.documentaries[2*rowcount]).to_i})["title"] %></h4>
                    </div>
                </div>
                
                  
                <% if (rowcount < ((Film.documentaries.count+1)/2)-1) or (Film.documentaries.count % 2 ==0)%>
                <div class="col-md-4 text-center">
                    <div class="portfolio-item">
                      
                        <a href= /films/<%= (Film.find_by url: (Film.documentaries[(2*rowcount)+1])).id%>>
                          
                         
                            <img class="img-portfolio img-responsive" src=<%= (Film.vimeofilms.find {|f| f["id"] == (Film.documentaries[(2*rowcount)+1]).to_i})["thumbnail_large"] %>>
                        </a>
                        
                        <h4><%=  (Film.vimeofilms.find {|f| f["id"] == (Film.documentaries[(2*rowcount)+1]).to_i})["title"] %></h4>
                        
                    </div>
                </div>
                <%end%>
            </div>
            <% rowcount=rowcount+1%>
            <%end%>
          </div>
          <% end %>

            <% if Film.shortfilm.count != 0  %>
      <div id="shortfiction" class="col-md-4 col-md-offset-4 text-center sub"> <h1>Short Fiction</h1></div>
            
            <% rowcount=0%>
              <% while rowcount <= (Film.shortfilm.count-1)/2 do %>
              <div class="row">
                <div class="col-md-4 col-md-offset-2 text-center">
                    <div class="portfolio-item">
                        <a href= /films/<%= (Film.find_by url: (Film.shortfilm[2*rowcount])).id%>>
                            <div class="blur"><img class="img-portfolio img-responsive" src=<%= (Film.vimeofilms.find {|f| f["id"] == (Film.shortfilm[2*rowcount]).to_i})["thumbnail_large"] %>></div></a><% Rails.logger.debug "LEVEL2 is #{rowcount}"%>
                        
                        <h4><%= (Film.vimeofilms.find {|f| f["id"] == (Film.shortfilm[2*rowcount]).to_i})["title"] %></h4>
                    </div>
                </div>
                
                  
                <% if (rowcount < ((Film.shortfilm.count+1)/2)-1) or (Film.shortfilm.count % 2 ==0)%>
                <div class="col-md-4 text-center">
                    <div class="portfolio-item">
                      
                        <a href= /films/<%= (Film.find_by url: (Film.shortfilm[(2*rowcount)+1])).id%>>
                          
                         
                            <img class="img-portfolio img-responsive" src=<%= (Film.vimeofilms.find {|f| f["id"] == (Film.shortfilm[(2*rowcount)+1]).to_i})["thumbnail_large"] %>>
                        </a>
                        
                        <h4><%=  (Film.vimeofilms.find {|f| f["id"] == (Film.shortfilm[(2*rowcount)+1]).to_i})["title"] %></h4>
                        
                    </div>
                </div>
                <%end%>
            </div>
            <% rowcount=rowcount+1%>
            <%end%>
          
          <% end %>

           <% if Film.musicvideos.count != 0  %>
      <div id="musicvideos" class="col-md-4 col-md-offset-4 text-center sub"> <h1>Music Videos</h1></div>
            
            <% rowcount=0%>
              <% while rowcount <= (Film.musicvideos.count-1)/2 do %>
              <div class="row">
                <div class="col-md-4 col-md-offset-2 text-center">
                    <div class="portfolio-item">
                        <a href= /films/<%= (Film.find_by url: (Film.musicvideos[2*rowcount])).id%>>
                            <div class="blur"><img class="img-portfolio img-responsive" src=<%= (Film.vimeofilms.find {|f| f["id"] == (Film.musicvideos[2*rowcount]).to_i})["thumbnail_large"] %>></div></a><% Rails.logger.debug "LEVEL is #{Film.musicvideos[2*rowcount]}"%>
                        
                        <h4><%= (Film.vimeofilms.find {|f| f["id"] == (Film.musicvideos[2*rowcount]).to_i})["title"] %></h4>
                    </div>
                </div>
                
                  
                <% if (rowcount < ((Film.musicvideos.count+1)/2)-1) or (Film.musicvideos.count % 2 ==0)%>
                <div class="col-md-4 text-center">
                    <div class="portfolio-item">
                      
                        <a href= /films/<%= (Film.find_by url: (Film.musicvideos[(2*rowcount)+1])).id%>>
                          
                         
                            <img class="img-portfolio img-responsive" src=<%= (Film.vimeofilms.find {|f| f["id"] == (Film.musicvideos[(2*rowcount)+1]).to_i})["thumbnail_large"] %>>
                        </a>
                        
                        <h4><%=  (Film.vimeofilms.find {|f| f["id"] == (Film.musicvideos[(2*rowcount)+1]).to_i})["title"] %></h4>
                        
                    </div>
                </div>
                <%end%>
            </div>
            <% rowcount=rowcount+1%>
            <%end%>
          </div>
          <% end %>
<% if ((Film.adfilms.count != 0) or (Film.behindthescenes.count != 0)  or (Film.weddings.count != 0))%>
         <div id="corporate" class="col-md-4 col-md-offset-4 text-center sub"> <h1>Corporate Videos</h1></div>   
<% if Film.adfilms.count != 0  %>
      <div class="col-md-4 col-md-offset-4 text-center sub2"> <h1><em>Ad Films</em></h1></div>
            
            <% rowcount=0%>
              <% while rowcount <= (Film.adfilms.count-1)/2 do %>
              <div class="row">
                <div class="col-md-4 col-md-offset-2 text-center">
                    <div class="portfolio-item">
                        <a href= /films/<%= (Film.find_by url: (Film.adfilms[2*rowcount])).id%>>
                            <div class="blur"><img class="img-portfolio img-responsive" src=<%= (Film.vimeofilms.find {|f| f["id"] == (Film.adfilms[2*rowcount]).to_i})["thumbnail_large"] %>></div><% Rails.logger.debug "LEVEL is #{Film.documentaries[2*rowcount]}"%>
                        </a>
                        <h4><%= (Film.vimeofilms.find {|f| f["id"] == (Film.adfilms[2*rowcount]).to_i})["title"] %></h4><% Rails.logger.debug "LEVEL is #{Film.adfilms[2*rowcount]}"%>
                    </div>
                </div>
                
              
                <% if (rowcount < ((Film.adfilms.count+1)/2)-1) or (Film.adfilms.count % 2 ==0)%>
                <div class="col-md-4 text-center">
                    <div class="portfolio-item">
                      
                        <a href= /films/<%= (Film.find_by url: (Film.adfilms[(2*rowcount)+1])).id%>>
                          
                         
                            <img class="img-portfolio img-responsive" src=<%= (Film.vimeofilms.find {|f| f["id"] == (Film.adfilms[(2*rowcount)+1]).to_i})["thumbnail_large"] %>>
                        </a>
                        
                        <h4><%=  (Film.vimeofilms.find {|f| f["id"] == (Film.adfilms[(2*rowcount)+1]).to_i})["title"] %></h4>
                        
                    </div>
                </div>
                <%end%>
            </div>
            <% rowcount=rowcount+1%>
            <%end%>
          </div>
          <% end %>

          

          <% if Film.behindthescenes.count != 0  %>
      <div class="col-md-4 col-md-offset-4 text-center sub2"> <h1>Behind The Scenes</h1></div>
            
            <% rowcount=0%>
              <% while rowcount <= (Film.behindthescenes.count-1)/2 do %>
              <div class="row">
                <div class="col-md-4 col-md-offset-2 text-center">
                    <div class="portfolio-item">
                        <a href= /films/<%= (Film.find_by url: (Film.behindthescenes[2*rowcount])).id%>>
                            <div class="blur"><img class="img-portfolio img-responsive" src=<%= (Film.vimeofilms.find {|f| f["id"] == (Film.behindthescenes[2*rowcount]).to_i})["thumbnail_large"] %>></div>
                        </a>
                        <h4><%= (Film.vimeofilms.find {|f| f["id"] == (Film.behindthescenes[2*rowcount]).to_i})["title"] %></h4>
                    </div>
                </div>
                
                  
                <% if (rowcount < ((Film.behindthescenes.count+1)/2)-1) or (Film.behindthescenes.count % 2 ==0)%>
                <div class="col-md-4 text-center">
                    <div class="portfolio-item">
                      
                        <a href= /films/<%= (Film.find_by url: (Film.behindthescenes[(2*rowcount)+1])).id%>>
                          
                         
                            <img class="img-portfolio img-responsive" src=<%= (Film.vimeofilms.find {|f| f["id"] == (Film.behindthescenes[(2*rowcount)+1]).to_i})["thumbnail_large"] %>>
                        </a>
                        
                        <h4><%=  (Film.vimeofilms.find {|f| f["id"] == (Film.behindthescenes[(2*rowcount)+1]).to_i})["title"] %></h4>
                        
                    </div>
                </div>
                <%end%>
            </div>
            <% rowcount=rowcount+1%>
            <%end%>
          </div>
          <% end %>

          <% if Film.weddings.count != 0  %>
      <div class="col-md-4 col-md-offset-4 text-center sub2"> <h1>Weddings</h1></div>
            
            <% rowcount=0%>
              <% while rowcount <= (Film.weddings.count-1)/2 do %>
              <div class="row">
                <div class="col-md-4 col-md-offset-2 text-center">
                    <div class="portfolio-item">
                        <a href= /films/<%= (Film.find_by url: (Film.weddings[2*rowcount])).id%>>
                            <div class="blur"><img class="img-portfolio img-responsive" src=<%= (Film.vimeofilms.find {|f| f["id"] == (Film.weddings[2*rowcount]).to_i})["thumbnail_large"] %>></div>
                        </a>
                        <h4><%= (Film.vimeofilms.find {|f| f["id"] == (Film.weddings[2*rowcount]).to_i})["title"] %></h4>
                    </div>
                </div>
                
                  
                <% if (rowcount < ((Film.weddings.count+1)/2)-1) or (Film.weddings.count % 2 ==0)%>
                <div class="col-md-4 text-center">
                    <div class="portfolio-item">
                      
                        <a href= /films/<%= (Film.find_by url: (Film.weddings[(2*rowcount)+1])).id%>>
                          
                         
                            <img class="img-portfolio img-responsive" src=<%= (Film.vimeofilms.find {|f| f["id"] == (Film.weddings[(2*rowcount)+1]).to_i})["thumbnail_large"] %>>
                        </a>
                        
                        <h4><%=  (Film.vimeofilms.find {|f| f["id"] == (Film.weddings[(2*rowcount)+1]).to_i})["title"] %></h4>
                        
                    </div>
                </div>
                <%end%>
            </div>
            <% rowcount=rowcount+1%>
            <%end%>
          </div>
          <% end %>
          
          <%end%>
</div>
<% end %>

         





           