<% content_for :title do %>Autorickshaw Productions: Filmography<% end %>
<% content_for :description do %>Website of Autorickshaw Productions. Complete list of films<% end %>


<%#= link_to image_tag("#{film.id}_0.png"), film %>

    <!-- Portfolio --> 
    

    <div id="portfolio" class="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4 text-center">
                    <h2>Our Work</h2>
                    <hr>
                </div>
            </div>
            <div> <h1>Documentaries</h1></div>
            
            
            <%= (@vimeofilms.detect {|f| f["url"] = (@documentaries[2*0])})["thumbnail_large"] %>

            <%#= (@vimeofilms.find_by url: (@documentaries[2*rowcount])).thumbnail_large %>
            <img  src=<%= (@vimeofilms.detect {|f| f["url"] = (@documentaries[2*0])})["thumbnail_large"] %>>





             <% if @adfilms.count != 0 or @behindthesceness.count != 0  or @weddings.count != 0%>
          <div class="col-md-4 col-md-offset-4 text-center"> <h1><em>Corporate Videos</em></h1></div>
          <% if @adfilms.count != 0 %>
      <div class="col-md-4 col-md-offset-4 text-center"> <h1><em>Ad Films</em></h1></div>
            
            <% rowcount=0%>
              <% while rowcount <= (@adfilms.count-1)/2 do %>
              <div class="row">
                <div class="col-md-4 col-md-offset-2 text-center">
                    <div class="portfolio-item">
                        <a href= /films/<%= (@filmlist.find_by url: (@adfilms[2*rowcount])).id%>>
                            <div class="blur"><img class="img-portfolio img-responsive" src=<%= (@vimeofilms.find {|f| f["id"] == (@adfilms[2*rowcount]).to_i})["thumbnail_large"] %>></div>
                        </a>
                        <h4><%= (@vimeofilms.find {|f| f["id"] == (@adfilms[2*rowcount]).to_i})["title"] %></h4>
                    </div>
                </div>
                
                  
                <% if (rowcount < ((@adfilms.count+1)/2)-1) or (@adfilms.count % 2 ==0)%>
                <div class="col-md-4 text-center">
                    <div class="portfolio-item">
                      
                        <a href= /films/<%= (@filmlist.find_by url: (@adfilms[(2*rowcount)+1])).id%>>
                          
                         
                            <img class="img-portfolio img-responsive" src=<%= (@vimeofilms.find {|f| f["id"] == (@adfilms[(2*rowcount)+1]).to_i})["thumbnail_large"] %>>
                        </a>
                        
                        <h4><%=  (@vimeofilms.find {|f| f["id"] == (@adfilms[(2*rowcount)+1]).to_i})["title"] %></h4>
                        
                    </div>
                </div>
                <%end%>
            </div>
            <% rowcount=rowcount+1%>
            <%end%>
          </div>
          <% end %>

          <% if @behindthesceness.count != 0 %>
          <div class="col-md-4 col-md-offset-4 text-center"> <h1><em>Behind The Scenes</em></h1></div>
            
            <% rowcount=0%>
              <% while rowcount <= (@behindthesceness.count-1)/2 do %>
              <div class="row">
                <div class="col-md-4 col-md-offset-2 text-center">
                    <div class="portfolio-item">
                        <a href= /films/<%= (@filmlist.find_by url: (@behindthesceness[2*rowcount])).id%>>
                            <div class="blur"><img class="img-portfolio img-responsive" src=<%= (@vimeofilms.find {|f| f["id"] == (@behindthesceness[2*rowcount]).to_i})["thumbnail_large"] %>></div>
                        </a>
                        <h4><%= (@vimeofilms.find {|f| f["id"] == (@behindthesceness[2*rowcount]).to_i})["title"] %></h4>
                    </div>
                </div>
                
                  
                <% if (rowcount < ((@behindthesceness.count+1)/2)-1) or (@behindthesceness.count % 2 ==0)%>
                <div class="col-md-4 text-center">
                    <div class="portfolio-item">
                      
                        <a href= /films/<%= (@filmlist.find_by url: (@behindthesceness[(2*rowcount)+1])).id%>>
                          
                         
                            <img class="img-portfolio img-responsive" src=<%= (@vimeofilms.find {|f| f["id"] == (@behindthesceness[(2*rowcount)+1]).to_i})["thumbnail_large"] %>>
                        </a>
                        
                        <h4><%=  (@vimeofilms.find {|f| f["id"] == (@behindthesceness[(2*rowcount)+1]).to_i})["title"] %></h4>
                        
                    </div>
                </div>
                <%end%>
            </div>
            <% rowcount=rowcount+1%>
            <%end%>
          </div>
          <% end %>
          
          <% if  @weddings.count != 0%>

           <div class="col-md-4 col-md-offset-4 text-center"> <h1><em>Weddings</em></h1></div>
            
            <% rowcount=0%>
              <% while rowcount <= (@weddings.count-1)/2 do %>
              <div class="row">
                <div class="col-md-4 col-md-offset-2 text-center">
                    <div class="portfolio-item">
                        <a href= /films/<%= (@filmlist.find_by url: (@weddings[2*rowcount])).id%>>
                            <div class="blur"><img class="img-portfolio img-responsive" src=<%= (@vimeofilms.find {|f| f["id"] == (@weddings[2*rowcount]).to_i})["thumbnail_large"] %>></div>
                        </a>
                        <h4><%= (@vimeofilms.find {|f| f["id"] == (@weddings[2*rowcount]).to_i})["title"] %></h4>
                    </div>
                </div>
                
                  
                <% if (rowcount < ((@weddings.count+1)/2)-1) or (@weddings.count % 2 ==0)%>
                <div class="col-md-4 text-center">
                    <div class="portfolio-item">
                      
                        <a href= /films/<%= (@filmlist.find_by url: (@weddings[(2*rowcount)+1])).id%>>
                          
                         
                            <img class="img-portfolio img-responsive" src=<%= (@vimeofilms.find {|f| f["id"] == (@weddings[(2*rowcount)+1]).to_i})["thumbnail_large"] %>>
                        </a>
                        
                        <h4><%=  (@vimeofilms.find {|f| f["id"] == (@weddings[(2*rowcount)+1]).to_i})["title"] %></h4>
                        
                    </div>
                </div>
                <%end%>
            </div>
            <% rowcount=rowcount+1%>
            <%end%>
          </div>
          <% end %>
          <% end %>