<% content_for :title do %><%= (Film.vimeofilms.find {|f| f["id"] == @film.url.to_i})["title"] %><% end %>
<% content_for :description do %>Website of Autorickshaw Productions<% end %>
<% cache @film do%>
<div id="<%= params[:action]%>">
  
          <div class="callout">

      <div class="vert-texting">
      <h1><%== (Film.vimeofilms.find {|f| f["id"] == @film.url.to_i})["title"] %></h1>
    
    <p>&nbsp;</p>
 
   <div class="col-md-8  col-md-offset-2 text-center">
                <div class="responsive-video">
            <iframe allowfullscreen="" src="http://player.vimeo.com/video/<%=@film.url%>" frameborder="0" width="1000" height="562"></iframe>
            </div>
            
</div>
<div class="row">
    
	<section class="col-lg-6 col-sm-12 ">

			<p ><%== (Film.vimeofilms.find {|f| f["id"] == @film.url.to_i})["description"] %></p>
    </section>
    <section class="col-lg-6 col-sm-12">
      <p>&nbsp;</p>
  

      <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
     <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
<% i =1 %>
     <%= while i <= @film.stills.count do %>
<li data-target="#myCarousel" data-slide-to="<%=i%>"></li>
<% i=i+1%>
<% end%>
</ol>
        <div class="carousel-inner">
             <div class="item active">
                <img  src=<%= (Film.vimeofilms.find {|f| f["id"] == @film.url.to_i})["thumbnail_large"] %>>
              <div class="carousel-caption text-center">
              <h4></h4>
              </div>
             </div>
            <% @film.stills.each do |still| %>
  
  <%#= image_still(@still.image)%>

              <div class="item">
                <%= image_tag still.image.url(:medium_image) %>

                <div class="carousel-caption text-center">
                  <h4></h4>
                </div>
              </div>
            <% end %>
        </div>
        
      </div>
    </section>
      
      
     
  </div></div>
    </div>

    </div> 
    <% end %>
<!-- Vimeo Advanced API-->

<% cstructured = @film.vimeocomments %>

<% c = @film.commentlist %>
      
         
          <div id="masthead">  
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1>Comments
          <p class="lead">(on Vimeo)</p>
        </h1>
      </div>
      
    </div> 
  </div><!-- /cont -->
  
 
</div>

<div id="comments">
<div class="container">
  <div class="row">
    
    <div class="col-md-12"> 
      <% cstructured.each do  |x| %>
     
        <div class="panel-body" >
        
          
          
          
          <%i=0%>
          <% x.each do  |y| %>
<!--starting chnge-->
      <div class="row indent<%=i%>" >
      <div class="indent<%=i%>">  
            <br>
            <div class="col-md-2 col-sm-3 text-center">
              <a class="story-img" href=<%=(c.find {|f| f["id"] == y})["author"]["profileurl"]%>><img src=<%=(c.find {|f| f["id"] == y})["author"]["portraits"]["portrait"].third["_content"] %> class="img-circle"></a>
            </div>
            <div class="col-md-10 col-sm-9">
              <h1><%=(c.find {|f| f["id"] == y})["author"]["display_name"]%></h1>
              <div class="row">
                <div class="col-xs-9">
                  <p><%= (c.find {|f| f["id"] == y})["text"]%></p>
                  
                  </div>
                <div class="col-xs-3"></div>
              </div>
              
            </div>
          </div>
        </div>
        <% i=i+1%>
          <% end %>
          
</div>
<% end %>
</div>
</div>
</div>
</div>





