<% content_for :title do %><%= @film.name%><% end %>
<% content_for :description do %>Website of Autorickshaw Productions<% end %>
<section class="row">
		<div class="flex-video widescreen vimeo">
		<%== @film.link%> 
		</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
</section>
<section class="row">
	<div class="small-12 large-3 columns">
		<div class="panel">
			<%== @film.writeup%>

		</div>
	</div>
<div class="small-12 large-3 columns">
		<div class="panel">
			<%== @film.credits%>
		</div>
	</div>
	<div class="small-12 large-6 columns">
	<ul class="example-orbit" data-orbit>
	<% @film.stills.each do |still| %>
	
	<%#= image_still(@still.image)%>

 <li><%= image_tag still.image.url(:medium_image) %></li>
<% end %>
</ul>
</div>
 
     <!---->
   

</section> 
<script>$("#myOrbit").on("ready.fndtn.orbit", function(event) {
  ... //your code here
})
</script>




	
	
	

