<% content_for :title do %><%= @film.name%><% end %>
<% content_for :description do %>Website of Autorickshaw Productions<% end %>
<div id="<%= params[:action]%>"
  <
          <div class="callout">

      <div class="vert-text">
      <h1><%== (@vimeofilms.find {|f| f["id"] == @film.url.to_i})["title"] %></h1>
    
 
   <div class="col-md-8 col-md-offset-2 text-center">
                <div class="responsive-video">
            <iframe allowfullscreen="" src="http://player.vimeo.com/video/<%=@film.url%>" frameborder="0" width="1000" height="562"></iframe>
            </div>
            </section>
</div>
<div class="row">
    
	<section class="col-md-4">

			<p ><%== (@vimeofilms.find {|f| f["id"] == @film.url.to_i})["description"] %></p>
    </section>
    <section class="col-md-8">
      <p><%== (@vimeofilms.find {|f| f["id"] == @film.url.to_i})["description"] %></p>
    </section>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      
     
  </div></div>
    </div>

    </div> 