<% content_for :title do %><%= (@vimeofilms.find {|f| f["id"] == @film.url.to_i})["title"] %><% end %>
<% content_for :description do %>Website of Autorickshaw Productions<% end %>
<div id="<%= params[:action]%>">
  
  <!--        <div class="callout">

      <div class="vert-text">
      <h1><%== (@vimeofilms.find {|f| f["id"] == @film.url.to_i})["title"] %></h1>
    
    <p>&nbsp;</p>
 
   <div class="col-md-8 col-md-offset-2 text-center">
                <div class="responsive-video">
            <iframe allowfullscreen="" src="http://player.vimeo.com/video/<%=@film.url%>" frameborder="0" width="1000" height="562"></iframe>
            </div>
            </section>
</div>
<div class="row">
    
	<section class="col-lg-4 col-sm-12">

			<p ><%== (@vimeofilms.find {|f| f["id"] == @film.url.to_i})["description"] %></p>
    </section>
    <section class="col-lg-8 col-sm-12">
      <p>&nbsp;</p>
  

      <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
     <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
<% i =1 %>
     <%= while i <= @film.stills.count do %>
<li data-target="#myCarousel" data-slide-to="<%=i%>"></li>
<% i=i+1%>
<% end%>
</ol>
        <div class="carousel-inner">
             <div class="item active">
                <img  src=<%= (@vimeofilms.find {|f| f["id"] == @film.url.to_i})["thumbnail_large"] %>>
              <div class="carousel-caption text-center">
              <h4></h4>
              </div>
             </div>
            <% @film.stills.each do |still| %>
  
  <%#= image_still(@still.image)%>

              <div class="item">
                <%= image_tag still.image.url(:medium_image) %>

                <div class="carousel-caption text-center">
                  <h4></h4>
                </div>
              </div>
            <% end %>
        </div>
        
      </div>
    </section>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      
     
  </div></div>
    </div>

    </div> -->
<!-- Vimeo Advanced API-->


<% video = Vimeo::Advanced::Video.new("82caad5d814d421a85c2b8844aab8c756348a74a", "6f7c421aa79efc12abc1a459058913f06d001a62", :token => "c60e31a5d5d878e647984175c871994b", :secret => "0eec1145bd44d62d1308ca38945a9b4eb5bc2934")%>
<% comments = video.get_comments_list("73288415") %>
<% q = comments["comments"]["comment"] %>
<% p = q.clone %>

<ul>
  <% q.reverse_each do |c| %>

<li><%= c["id"]   %></li>
<li><%= c["reply_to_comment_id"]   %></li>
<li><%= c["text"]   %></li>
<li><%= c["author"]["display_name"] %></li>
<li><%= c["author"]["profileurl"] %></li>
<li><%= c["author"]["portraits"]["portrait"].first["_content"] %></li>

<p>&nbsp;</p>
      <p>&nbsp;</p>
<% end %>


</ul>


<% b=Array.new%>
<% m=Array.new%>

      
  <% q.reverse_each do |c| %>

      <% if c["id"]==c["reply_to_comment_id"] %>

      <% a = Array.new%>
      <% a<< c["id"] %>
      <% b<< a%>
      <% q.delete(c) %>
      <% end %>

  <% end %>
  

  
  
  

  <% q.each do |c| %>

       <% b.each do |z|%>
       <% if z.first == c["reply_to_comment_id"]%>

      <% z<< c["id"]%>  
      <% end %>
      <% end %>
  <% end %>
  
   

    <% b.each do |y|%>
        <% y= y.sort %>
        <% m<< y%>
        <% end %>

<%= m %> 


<%= p %>  

   





<!--vimeo.videos.comments.getList-->



    