<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @film.name %>
</p>

<p>
  <strong>Link:</strong>
  <%= @film.link %>
</p>

<p>
  <strong>Url:</strong>
  <%= @film.url %>
</p>

<p>
  <strong>Writeup:</strong>
  <%= @film.writeup %>
</p>

<p>
  <strong>Credits:</strong>
  <%= @film.credits %>
</p>

<%= link_to 'Edit', edit_film_path(@film) %> |
<%= link_to 'Back', films_path %>
